button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(1);
	-webkit-appearance: button;
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 15px 17px rgba(255, 255, 255, .5), inset 0 -5px 12px rgba(0, 0, 0, .05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer;
	line-height: 1;
	padding: .6rem .5rem .4rem;
	overflow: visible;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	text-transform: none;

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .8), inset 0 15px 17px rgba(255, 255, 255, .8), inset 0 -5px 12px rgba(0, 0, 0, .02);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .5), inset 0 2px 5px rgba(0, 0, 0, .15);
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&[disabled] {
		cursor: default;
	}
}

.search-form  {
	position: relative;
	z-index: 1;
	input[type="submit"] {
		display: none;
	}
}
.mw_wp_form {
	input[type="submit"] {
		background: $color__background-widget;
		border: 5px  solid $color__border;
		text-transform: uppercase;
		letter-spacing: 1px;
		box-shadow: none;
		text-shadow: none;
		border-radius: 0;
		height: 40px;
		color: $color__post-title;
		&:hover {
		background: $color__link-hover;
		}
	}
}
