table {
	border: 1px solid $color__border-input;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5rem;
	max-width: 100%;
	&#wp-calendar {
		width: 100%;
		text-align: center;
	}
	th, td {
		padding: .4rem;
		border: 1px solid $color__border-input;
	}
	th {
		text-align: center;
	}
	td {
		&.has-a {
			padding: 0;

			a {
				display: inline-block;
				padding: .4rem;
			}
		}
		span {
			font-size: .8rem;
			padding: .2rem;
			color: $color__text-warning;
		}
	}
}

#wp-calendar {
	width: 100%;
	border: 0;
	position: relative;
	color: $color__background-body;
	caption {
		position: relative;
		font-size: 1.15rem;;
	}
	tbody {
		td {
			text-align: center;
			a {
				display: block;
				&:hover {
					color: $color__background-body;
				}
			}
		}

		#today {
			background-color: $color__link-hover;
			color: $color__background-body;
		}
	}
}
.mw_wp_form  {
	width: 100%;
	table,thead,tbody,tfoot,tr {
		width: 100%;
		@include respond-to($to-width: 800px) {
			border: 0;
			display: block;
		}
		td {
			@include respond-to($to-width: 800px) {
				border: 0;
				display: block;
			}
		}
	}
}
