// Background
$color__background-body: #EDEDED;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #f0f5e6;
$color__background-ins: #fff9c0;
$color__background-warning: #ff0;
$color__background-transparent: rgba(0, 0, 0, 0);
$color__background-submenu: rgba(234, 234, 234, .8);
$color__background-widget: #519194;

// Text
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #464646;
$color__link-visited: purple;
$color__link-hover: #325a76;
$color__text-main: #000;
$color__text-warning: #f00;
$color__background-header-post: #1C2036;
$color__post-title: #fff;
 $color__wiget-text-hover: #97d0d3;

// Border
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border: #6DB9C2;


// Shadow
$color__shadow-focus: rgba(0, 0, 0, .6);
