@font-face {
  font-family: 'Mamelon';
  src: url('../../src/font/Mamelon.otf') format('embedded-opentype');
}
$font__mamelon: 'Mamelon';
$font__main: $font__mamelon, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: .7;

// Theme's Font Sizes

$font__size-h2: 1.2rem;
$font__size-h3: 1.4rem;
$nr-fz: .9rem;
