.site {
	overflow: hidden;
	padding: 0 $size__site-padding;
	@include respond-to($to-width: 800px) {
		padding: 0 .8rem;
	}

	.site-header {
		clear: both;
		display: inline-block;
		padding-top: 1rem;
		width: $size__site-full;
	}

	.site-content {
		display: inline-block;
		width: 100%;
		margin-top: 3rem;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			display: block;
			margin-top: 1rem;
		}

		.content-area {
			display: inline-block;
			width: calc((100% - 30%) - 15px);
			float: left;
			&.home {
				width: 100%;
				float: none;
			}
			@include respond-to($to-width: 800px)  {
				width: 100%;
			}
		}

		.widget-area {
			display: inline-block;
			overflow: hidden;
			float: right;
			width: $size__site-sidebar;
			@include respond-to($to-width: 800px)  {
				width: 100%;
				float: none;
			}
		}
	}

	.site-footer {
		clear: both;
		padding: 1rem;
		display: inline-block;
		width: $size__site-full;
	}
}
.top-page {
	width: 100%;
	display: inline-block;
	.post {
		float: left;
		width: calc((100% / 4) - 20px);
		margin: 15px 10px 30px;
		position: relative;
		height: 33rem;
		@include respond-to(230px, 800px)  {
			width: 100%;
			float: none;
			margin: 15px 0;
		}
		.entry-img {
			height: 15rem;
			width: 100%;
			a {
				display: block;
				position: relative;
				z-index: 0;
				height: 100%;
				&::before, &::after {
					z-index: -1;
					position: absolute;
					content: "";
					bottom: 25px;
					left: 10px;
					width: 50%;
					top: 80%;
					background: #333;
					box-shadow: 0 35px 20px #333;
					transform: rotate(-8deg);
				}
				&::after {
					transform: rotate(8deg);
					right: 10px;
					left: auto;
				}
			}
			img {
				@include transition(.3s);
				width: 100%;
				height: 100%;
				display: inline-block;
				border: 5px solid $color__border;
				&:hover {
					filter: brightness(.8);
				}
			}
		}
		.info {
			position: relative;
			margin-top: 1rem;
			.entry-header {
				width: 100%;
				display: inline-block;
				.entry-title {
					text-align: center;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $color__link;
					font-size: 1.4rem;
					&:hover {
						color: $color__link-hover;
					}
					@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
						font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ','ＭＳ Ｐゴシック', 'ＭＳ ゴシック', Osaka, Osaka-等幅, sans-serif;
					}
					a {
						display: inline;
						white-space: nowrap;
						word-wrap: break-word; /* IE */
					}
				}
			}
			.entry-summary {
				padding: 0 .5rem;
				p {
					@include ellipsis;
				}
			}
			.entry-meta {
				@include font-size(.75);
				display: inline-block;
				width: 100%;
				margin: .5rem 0;
				padding: 5px 10px;
				position: relative;
				span {
					display: inline-block;
					margin: 10px 10px 0 0;
					padding-right: 10px;
					&[class$="-links"] {
						margin: .2rem;
						&:last-of-type {
							border: 0;
						}
					}
					.fa {
						color: $color__text-main;
					}
				}
			}
		}
		.read-more {
			position: relative;
			padding: 2px 5px;
			width: 100%;
			margin: auto;
			background: $color__background-widget;
      border: 5px  solid $color__border;
			color: $color__post-title;
			border-top-right-radius: 10px;
			text-align: center;
			&::after {
				content: "\f061";
				font-family: FontAwesome;
				padding-left: .5rem;
			}
			&:hover {
				background: $color__link-hover;
			}
		}
	}
}
