.site-header {
	margin-bottom: .2rem;
	.site-branding {
		float: left;
		@include respond-to($to-width: 800px) {
			width: 100%;
			float: none;
			text-align: center;
		}
		.site-description {
			font-size: .95rem;
			margin-bottom: 0;
		}
		.site-title {
			margin-top: 0;
			@include respond-to($to-width: 800px) {
				font-size: 1.7rem;
			}
		}
	}
	.header-menu {
		float: right;
		padding-top: 1.8rem;
		padding-left: 5rem;
		@include respond-to($to-width: 800px) {
			width: 100%;
			float: none;
			padding-top: 0;
			padding-left: 0
		}
	}
}
