.popular-wrap {
  position: relative;
  .aside-title {
		padding: .1rem .7rem;
		position: relative;
    text-align: center;
    color: $color__post-title;
    background-color: $color__background-header-post;
    border-top-right-radius: 20px;
  }
  ul {
    clear: both;
    list-style: none;
    margin: 0;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    padding: 1rem;
    li {
      width: 100%;
      display: inline-block;
      margin-bottom: 20px;
      .pop-img {
        float: left;
        overflow: hidden;
        a {
          display: block;
          text-align: center;
          position: relative;
          &::before, &::after {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 28px;
            left: 25px;
            width: 50%;
            top: 68%;
            background: #333;
            box-shadow: 0 35px 20px #333;
            transform: rotate(-8deg);
          }
          &::after {
            transform: rotate(8deg);
            right: 25px;
            left: auto;
          }
          img {
            @include transition(.3);
            width: 5rem;
            height: 5rem;
            &:hover {
              filter: brightness(.8);
            }
          }
        }
      }
      .header-overlay {
        width: calc(100% - 5rem);
        float: left;
        padding: 0;
        &.fill {
          width: 100%;
        }
        .pop-title {
          padding-left: .2rem;
          font-size: 1.25rem;
          max-height: 3.6rem;
          overflow: hidden;
          margin-top: .1rem;
          text-overflow: ellipsis;
					@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
						font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ','ＭＳ Ｐゴシック', 'ＭＳ ゴシック', Osaka, Osaka-等幅, sans-serif;
					}
          a {
            white-space: normal;
          }
        }
        .view-count {
          font-size: .8rem;
          background: $color__link-hover;
          display: inline-block;
          padding: .1rem .5rem 0 .2rem;
          color : $color__post-title;
          border-top-right-radius: 10px;
          vertical-align: middle;
          &::before {
            content: '\f06e';
            font-family: FontAwesome;
            padding-right: .2rem;
          }
        }
      }
    }
  }
}
.about {
  margin: 6rem 0 3rem;
  text-align: center;
  width: 100%;
  display: inline-block;
  @include respond-to($to-width: 800px) {
    margin-top: 0;
  }
  a {
    display: inline-block;
    .about-img {
      height: 20rem;
      width: 20rem;
      position: relative;
      z-index: 0;
      &::before, &::after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 25px;
        left: 10px;
        width: 50%;
        top: 80%;
        background: #333;
        box-shadow: 0 35px 20px #333;
        transform: rotate(-8deg);
      }
      &::after {
        transform: rotate(8deg);
        right: 10px;
        left: auto;
      }
      img {
        @include transition(.3);
        verticle-align: bottom;
        width: 100%;
        height: 100%;
        display: inline-block;
        border: 5px solid $color__border;
        &:hover {
          filter: brightness(.8);
        }
      }
    }
  }
  .about-description {
    @include font-size(1.2);
    padding: .1rem .7rem;
    text-align: center;
    .about-title {
      margin-top: 2.5rem;
    }
    .about-summary {
      padding: 0 .5rem;
    }
    .read-more {
      padding: .5rem 1rem;
      color: $color__background-body;
      background: $color__background-widget;
      border: 5px  solid $color__border;
      display: inline-block;
      margin: 0 auto;
      &:hover {
  		  background: $color__link-hover;
  		}
    }
  }
}
