.widget-area {
  position: relative;
  .widget {
    ul {
      clear: both;
      list-style: none;
      margin: 0;
      -moz-padding-start: 0;
      -webkit-padding-start: 0;
      li {
        line-height: 1.5;
        padding-left: 1.5rem;
        padding-top: .8rem;
        text-indent: -1.6em;
        color: $color__post-title;
        a {
          display: inline-block;
          width: 100%;
          text-indent: 0;
          color: $color__background-screen;
          &:before {
            content: "\f192";
            font-family: FontAwesome;
            margin-right: 4px;
            vertical-align: top;
          }
          &:hover {
            color: $color__wiget-text-hover;
          }
        }
      }
    }
    table {
      &#wp-calendar {
        caption {
          padding: .1rem .7rem;
          font-size: 1.15rem;
          position: relative;
        }
      }
    }
    .tagcloud {
      padding: 5px 10px;

      a {
        display: inline-block;
        font-size: $nr-fz !important;
        line-height: 1.3;
        margin: 5px 0;
        padding: .6rem;
        background-color: $color__border;
        color: $color__post-title;
        border-top-right-radius: 15px;
        &:hover {
    		  background: $color__link-hover;
    		}
      }
    }
  }
}
