.site-main-single {
  width: 100%;
  display: inline-block;
  .post, .page, .not-found {
    box-sizing: border-box;
    padding: .5rem;
    border: 5px solid $color__border;
    position: relative;
    .entry-header,.page-header {
      position: absolute;
      background: $color__background-header-post;
      color: $color__post-title;
      top: -30px;
      border-top-right-radius: 20px;
      left: 10px;
      margin: 0 10px 0 0;
      &.over {
        position: relative;
      }
      .entry-title, .page-title {
        text-align: left;
        padding: 0 .5rem;
        letter-spacing: 0.1em;
        work-break: break-all;
        @include respond-to($to-width: 800px) {
          font-size: 1.35rem;
        }
      }
    }
    .entry-thumbnail {
      margin-top: 0;
      display: block;
      text-align: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .entry-content, .page-content {
      padding: 1.5rem;
      display: inline-block;
      width: 100%;
    }
    .entry-meta {
      @include font-size(.75);
      display: inline-block;
      width: 100%;
      margin: .5rem 0 0;
      padding: 5px 20px;
      position: relative;
      border-bottom-right-radius: 20px;
      span {
        display: inline-block;
        margin: 10px 10px 0 0;
        padding-right: 10px;
        &:not(:last-of-type) {
          border-right: 1px solid $color__link;
        }
        &[class$="-links"] {
          margin: .2rem;
        }
        .fa {
          color: $color__text-main;
        }
      }
    }
  }
  .widget_posts {
    display: inline-block;
    width: 100%;
    position: relative;
    .related-title {
      padding: .1rem .7rem;
      position: relative;
      text-align: center;
      background: $color__background-header-post;
      color: $color__post-title;
      border-top-right-radius: 20px;
    }
    ul {
      box-sizing: border-box;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 1.5rem;
      width: 100%;
      li {
        width: calc(100% / 4);
        float: left;
        @include respond-to($to-width: 800px) {
          width: 100%;
          float: none;
          margin-bottom: 10px;
        }
        .related-img {
          text-align: center;
          margin-bottom: 30px;
          a {
            display: block;
            width: 100%;
            position: relative;
            z-index: 0;
            &::before, &::after {
              z-index: -1;
              position: absolute;
              content: "";
              bottom: 28px;
              left: 25px;
              width: 50%;
              top: 68%;
              background: #333;
              box-shadow: 0 35px 20px #333;
              transform: rotate(-8deg);
            }
            &::after {
              transform: rotate(8deg);
              right: 25px;
              left: auto;
            }
            img {
              width: 10rem;
              height: 10rem;
              border: 5px solid $color__border;
              @include respond-to($to-width: 800px) {
                width: 100%;
              }
            }
          }
        }
        .related-post-title {
          text-overflow: ellipsis;
          overflow: hidden;
          color: $color__link;
          text-align: center;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ','ＭＳ Ｐゴシック', 'ＭＳ ゴシック', Osaka, Osaka-等幅, sans-serif;
          }
          &:hover {
            color: $color__link-hover;
          }
          a {
            display: inline;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
