/*
 * Layout: Id-Class
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

.button-id {
	background: #00a0d2;
	border-color: #0073aa;
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, .5), 0 1px 0 rgba(0, 0, 0, .15);
	color: #fff;
	height: 30px;
	line-height: 28px;
	padding: 0 12px 2px;
	text-align: center;
}
.button-id:hover {
	background: #0f88c2;
}
.button-id:active {
	background: #0073aa;
}
