.site-header {
	.menu-item-has-children {
		& > a {
			&::after {
				content: "\f103";
				font-family: FontAwesome;
				padding-left: .2em;
				font-size: .9em;
			}
		}
	}
}
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		width: 100%;
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		@include respond-to($to-width: 800px) {
			margin-top: .5rem;
		}

		.sub-menu {
			background: $color__background-submenu;
			box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
			float: left;
			position: absolute;
			top: 2.7rem;
			left: -999rem;
			z-index: 99999;
			width: 200px;
			@include respond-to($to-width: 800px) {
				width: 100%;
				top: 2.2rem;
			}

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				margin: 0;
				width: 100%;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				display: block;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		@include respond-to($to-width: 800px) {
			width: 100%;

		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		padding: .6rem 1.2rem;
		text-decoration: none;
		&:hover {
		background-color: $color__link-hover;
		color: $color__background-body;
	}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: $color__link-hover;
		color: $color__background-body;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5rem) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main {
		margin: 0 0 1.5rem;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
