.pagination {
	@include transition(.3);
	display: inline-block;
	position: relative;
	vertical-align: baseline;
	width: 100%;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	.screen-reader-text {
		display: none;
	}
	.page-numbers {
		padding: .4rem .8rem;
		display: inline-block;
		background: $color__background-widget;
		border: 5px  solid $color__border;
		z-index: 0;
		position: relative;
		color: $color__post-title;
		&.current {
		  background: $color__link-hover;
		}
		&:hover {
		  background: $color__link-hover;
		}
	}
}
