.pagetop {
  border-radius: 50%;
  bottom: 10%;
  height: 40px;
  position: fixed;
  right: 2%;
  width: 40px;
  z-index: 9999;
  zoom: 1;
  @include respond-to($to-width: 800px) {
    height: 40px;
    width: 40px;
  }

  a {
    display: block;
    height: 100%;
    line-height: 1;
    outline: none;
    position: relative;
    text-align: center;
    width: 100%;
    &:hover {
      background: $color__link;
      color: $color__background-body;
    }
    .fa {
      &::before {
        font-size: 1.5rem;
        line-height: 1.6;
      }
    }
  }
}
