.widget {
	background: $color__background-widget;
	display: inline-block;
	margin: 0 0 1.5rem;
	position: relative;
	width: 100%;
	padding: 1rem;
	color: $color__post-title;
	border: 5px  solid $color__border;

	/* Make sure select elements fit in widgets. */
	select {
		margin: 1rem;
		max-width: 100%;
	}
	.widget-title {
		padding: .1rem .7rem;
		position: relative;
		color: $color__post-title;
	}
}
